.navbar{
    height: 110px;
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    
    padding-left: 15px;
    padding-right: 15px;
    border: 8px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(32, 13, 50);    
}
.choices{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice{
    height: 200px;
    width: 195px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.select{
    opacity: 0.5;
}
.shakeComp{
    animation: shakeComp 0.8s linear;
}
.shakePlayer{
    animation: shakePlay 0.8s linear;
}
@keyframes shakeComp{
    0%{
        transform: rotate(-30deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes shakePlay{
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#rock{
    background-image: url(rock.png);
    background-size: cover;
}
#paper{
    margin-left: 30px;
    background-image: url(paper.png);
    background-size: cover;
}
#scissors{
    margin-left: 30px;
    background-image: url(scissors.png);
    background-size: cover;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
}
.computer img, .player img{
    width:75%;
}
.score-board{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
    display: flex;  
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.msg{
    width:fit-content;
    color: white;
    border: 4px solid white;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg-container{
    height: 70px;
    display: flex;
    justify-content: center;
}
.sb-display{
    display: flex;
    justify-content: center;  
}

@media only screen and (max-width:700px) {
    .nav{
        height:40px;
        width:fit-content;
        font-size: 10px;
        border: 4px solid white;
        border-radius: 0.75rem;
    }
    .choice{
        height: 50px;
        width: 50px; 
    }
    .computer img, .player img{
        width:65%;
    }
    .score-board{        
        font-size: 1rem;  
    }
    .msg{ 
        font-size: 1rem;
    }
    .msg-container{
        height: 50px;
    }
}